# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
hft
venv/
ENV/

# Distribution / packaging
toddric-1_5b-merged-v1
bin/
cache/
dist/
build/
log/
core/
models/
model/
*.egg

# Logs and databases
*.log
*.sqlite
store/
models/

# IDEs and editors
.vscode/
.idea/
*.swp
.env.1_5b
.env.old
.hf-cache/
.venv/
czech.sh
logs/
makekey.sh
pipped
prompts/
public.off/
redownload.sh
set_bear.sh
spidey.py
run_toddric2.old
system_toddric.md
to_sft.py


